<% layout('layouts/app') %>

<h1 class="text-center">Edit Place</h1>
<div class="row mb-5">
    <div class="col-6" <%= !place.images.length > 0 ? 'offset-3' : '' %>>
        <form action="/places/<%= place._id %>?_method=PUT" method="post" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="place[title]" id="title" class="form-control" value="<%= place.title %>" required>
            </div>
    
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="place[location]" id="location" class="form-control" value="<%= place.location %>" required>
            </div>
    
             <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="place[description]" id="description" class="form-control" required><%= place.description %></textarea>
            </div>
    
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="place[price]" id="price" class="form-control" value="<%= place.price %>" required>
            </div>
    
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" name="image" id="image" accept="image/*" multiple>
            </div>
    
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
    <% if (place.images.length > 0) { %>
        <div class="col-6">
            <h5 class="text-center">Delete Images</h5>
            <div class="form-group form-check">
                <input type="checkbox" id="checkAll" class="form-check-input">
                <label for="checkAll" class="form-check-label">Check All</label>
            </div>
            <form action="/places/<%= place._id %>/images?_method=DELETE" method="post" class="d-flex flex-wrap">
                <% place.images.forEach((image, index) => { %>
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <img src="/images/<%= image.filename %>" class="card-img-top">
                            <div class="card-body">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="images[]" value="<%= image.url %>">
                                    <span class="custom-checkbox-text">Pilih</span>
                                </label>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <div class="w-100"></div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    <% } %>
</div>

<script>
    document.getElementById('checkAll').addEventListener('change', function () {
        const checkboxes = document.getElementsByName('images[]');
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    });
</script>